#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  height: 100%;
  grid-template-columns: auto 5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "menu main";
  gap: 10px;
}

.menu {
  background-color: #2c2b30;
  border-right: 10px;
  border-color: aliceblue;
  display: flex;
  flex-direction: column;
}

.menu > button {
  padding: 0.2rem;
}

.data-table {
  width: 1000px;
  height: 600px;
  padding: 20px;
  border-radius: 20px;
}

.data-table > div > div > svg {
  border-radius: 21px;
  background: #2c2b30;
  box-shadow: -18px -18px 28px #222125, 18px 18px 28px #36353b;
}
